.chatContainer {
  background-color: white;
  width: 100%;
  height: calc(100% - 4rem - 2px);

}

.chatMessageContainer {
  width: 90%;
  height: 5rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f2f9fa;
}

.chatMessagesContainer {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.chatControlsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatControlsContainer  button{
  margin-left: 20px;
}

.chatControlsContainerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}